---
import Layout from "../../layouts/Layout.astro";
import SectionContainer from "../../components/SectionContainer.astro";
import LinkedIn from "../../icons/LinkedIn.astro"
import GitHub from "../../icons/GitHub.astro"
import Mail from "../../icons/Mail.astro"
import Code  from "../../icons/Code.astro";
import SocialList from "../../components/SocialList.astro";
import Experience from "../../components/Experience.astro";
import BriefCase from "../../icons/BriefCase.astro";
import Projects from "../../components/Projects.astro";
---
<Layout title="Welcome to Astro.">
  <main class="px-4">
    <SectionContainer id="about" class="py-44 pb-24">
      <img
        class="rounded-full size-12 mb-4"
        src="https://midu.dev/favicon/apple-touch-icon.png"
        alt="photo"
      />
      <h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
		Hola soy esteban. 
        <div class="flex justify-center items-center">
          <a
            href="https://www.linkedin.com/in/franciscoestebanflores"
            target="_blank"
            rel="noopener"
            class="flex justify-center items-center"
          >
            <!--<Badge>Disponible para trabajar</Badge>-->
          </a>
        </div>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span class="text-green-200/90">Licenciado en sistemas y maestro en administración de la calidad.</span>
        <span>
		Alrededor de 6 años en proyectos de programación utilizando herramientas tales como Laravel, Ionic, Vue, etc.</span
        >
        <span class="text-red-200/90"> De Hermosillo Sonora Mexico</span>
      </h2>
	  <nav class="flex gap-4 mt-8 flex-wrap">
		<SocialList href="https://www.linkedin.com/in/franciscoestebanflores">
			<LinkedIn class="size-4 md:size-6"/>
			LinkedIn
		</SocialList>
		<SocialList href="https://github.com/pyrofefa">
			<GitHub class="size-4 md:size-6" />
			GitHub			
		</SocialList>
		<SocialList href="mailto:fcoestebanflores@gmail.com">
			<Mail class="size-4 md:size-6"/>
			fcoestebanflores@gmail.com			
		</SocialList>
	  </nav>
    </SectionContainer>
	<SectionContainer id="experience">
		<h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
			<BriefCase class="size-8" />
			Experiencia Laboral</h2>
		<Experience />
	</SectionContainer>
	<!--<SectionContainer id="proyectos">
		<h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
		   <Code class="size-8" />
		   Proyectos
		</h2>
		<Projects />
	  </SectionContainer>-->
  </main>
</Layout>
