---
import { t } from "i18next";
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: t("cesave.period"),
    title: t("cesave.title"),
    description: t("cesave.description"),
    link: "",
  },
  {
    date: t("fidelity.period"),
    title: t("fidelity.title"),
    description: t("fidelity.description"),
  },
  {
    date: t("teknol.period"),
    title: t("teknol.title"),
    description: t("teknol.description"),
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
