---
import { t } from "i18next";
---

<footer
  class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-white-500 sm:text-center">
      © {new Date().getFullYear()} Esteban Flores
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-white-500 sm:mt-0"
    >
      <li>
        <a href="#about" class="hover:underline me-4 md:me-6"
          >{t("header.about")}</a
        >
      </li>
    </ul>
  </div>
</footer>
